{% extends 'base.html' %}

{% block title %}Strona Główna - My Website{% endblock %}

{% block content %}

<div style="width: 100%; height: 100vh; background-image: url('https://images.unsplash.com/photo-1527137342181-19aab11a8ee8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80'); background-size: cover; background-position: center center; display: flex; justify-content: center; align-items: center;">
  <div style="width: 100%; text-align: center;">
    <div>
      <p style="color: white; font-weight: 700; line-height: 1.2; font-size: xxx-large; text-shadow: 2px 2px 4px rgba(0,0,0,0.63);">
         Ready to Feel the Difference?
      </p>
      <div style="display: flex; justify-content: center; gap: 1rem; margin-top: 1rem;">
          <button type="button" style="background-color: #4299e1; cursor: pointer; transition: background-color 0.3s ease;" class="btn btn-info btn-rounded btn-lg" data-mdb-ripple-init>Show me more</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
